# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/

# Databases & Local storage
*.db
*.sqlite3
postgres_data/  # если ты мапишь volumes из Docker сюда

# Environments & Secrets
.env
.env.prod
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo